/* Estilos generales */
body {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  background-color: #e43636;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* Estilos para las imágenes en el lado izquierdo del encabezado */
.left-images img,
.right-image img {
  width: 100px;
  height: 100px;
}

.right-image img {
  margin-left: auto;
}


/* Estilos para la barra de navegación */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  font-family: "Just Another Hand";
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para los elementos de la lista de navegación */
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  display: inline;
}

/* Estilos para los enlaces dentro de los elementos de la lista de navegación */
.navbar li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.7s;
  padding: 10px;
}

/* Efecto de cambio de color al pasar el cursor sobre los enlaces de la barra de navegación */
.navbar li a:hover {
  color: white;
  background-color: red;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al lado izquierdo */
}

.contenedor-carrito p {
  font-family: "Just Another Hand", cursive;
  font-size: 24px; /* Ajusta al tamaño deseado */
  color: #000000; /* Ajusta al color deseado */
  margin-left: 48px; /* Añade un margen izquierdo si es necesario */
}

.contenedor-carrito button {
  background: #ff8b8b;
  border-radius: 27px;
  border: none;
  padding: 10px 20px;
  font-family: "Just Another Hand", cursive;
  font-size: 20px; /* Ajusta al tamaño deseado */
  color: #000000; /* Ajusta al color deseado */
  cursor: pointer;
  margin: 10px 20px; /* Añade un margen izquierdo para alinear con el texto */
}

.contenedor-carrito button:hover {
  background-color: #e57a7a; /* Color al pasar el mouse */
}
.producto-carrito img {
  width: 256px;
  height: 256px;
}



.footer {
  background-color: #e43636;
  color: white;
  text-align: left;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
  margin-bottom: 10px; /* Agrega un espacio vertical entre los enlaces */
  display: block; /* Hace que cada enlace ocupe toda la anchura disponible */
  font-family: "Just Another Hand"; /* Establece la familia de fuentes de la barra de navegación */
  font-size: 28px; /* Establece el tamaño de fuente de la barra de navegación */
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  
  .navbar ul {
    display: none; /* Oculta la lista de navegación */
  }

  .toggle-btn {
    display: block; /* Muestra el botón de alternar */
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .toggle-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
  }

  .navbar ul.active {
    display: flex; /* Muestra la lista de navegación cuando está activa */
  }
  .contenedor-carrito {
    align-items: flex-start; /* Alinea el contenido al lado izquierdo en dispositivos móviles */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .contenedor-carrito p {
    margin-left: 1px; /* Elimina el margen izquierdo */
    font-size: 18px; /* Reduzca el tamaño de fuente para adaptarse a dispositivos móviles */
  }

  .contenedor-carrito button {
    margin: 10px 0; /* Alinea el botón con el texto */
    font-size: 18px; /* Reduzca el tamaño de fuente para adaptarse a dispositivos móviles */
  }

  .producto-carrito img {
    width: 200px; /* Reduzca el tamaño de la imagen para adaptarse a dispositivos móviles */
    height: 200px;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
}
