body {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  font-family: "Just Another Hand", cursive;
}

header {
  background-color: #e43636;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.cart {
  width: 100px;
  height: 100px;
}

/* Estilos para el menú de navegación */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  font-family: "Just Another Hand";
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar li {
  display: inline;
}

.navbar li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.7s;
  padding: 10px;
}

.navbar li a:hover {
  color: white;
  background-color: red;
}
main {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  font-family: "Just Another Hand";
  font-size: 20px;
}

h1 {
  text-align: center;
}

.footer {
  background-color: #e43636;
  color: white;
  text-align: left;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
  margin-bottom: 10px;
  display: block;
  font-family: "Just Another Hand";
  font-size: 20px;
}
/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .navbar ul {
    display: none;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    flex-direction: column;
    text-align: center;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar li {
    display: block;
  }

  .toggle-btn {
    display: block;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .toggle-btn.active {
    left: -100px; /* Ajusta este valor según sea necesario */
  }
  .toggle-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .toggle-btn.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .toggle-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .toggle-btn.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

/* Estilos para el pie de página */
.footer {
  background-color: #e43636;
  color: white;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer a {
  color: white;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  margin-right: 20px;
}
