/* Estilos generales */
body {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  padding-bottom: 60px; /* Ajusta esto para dejar suficiente espacio para el footer */
}

/* Estilos para el encabezado */
header {
  background-color: #e43636;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* Estilos para las imágenes en el lado izquierdo del encabezado */
.left-images img,
.right-image img {
  width: 100px;
  height: 100px;
}

.right-image img {
  margin-left: auto;
}

/* Estilos para el contenedor del buscador */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 10px 20px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para el campo de búsqueda */
.search-input {
  flex: 1;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  font-family: "Just Another Hand";
  outline: none;
}

/* Estilos para el botón de búsqueda */
.search-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Just Another Hand";
  transition: background-color 0.3s;
}

/* Efecto de cambio de color al pasar el cursor sobre el botón de búsqueda */
.search-button:hover {
  background-color: #cc0000;
}

/* Estilos para los resultados de búsqueda */
#resultados-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#resultados-busqueda p {
  color: red;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  font-family: "Just Another Hand";
}
/* Estilos para los resultados de búsqueda */
#resultados-busqueda {
  margin-top: 20px;
}
.producto {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.producto h3 {
  margin-top: 0;
}

/* Estilos para la barra de navegación */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  font-family: "Just Another Hand";
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para los elementos de la lista de navegación */
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  display: inline;
}

/* Estilos para los enlaces dentro de los elementos de la lista de navegación */
.navbar li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.7s;
  padding: 10px;
}

/* Efecto de cambio de color al pasar el cursor sobre los enlaces de la barra de navegación */
.navbar li a:hover {
  color: white;
  background-color: red;
}

/* Estilos para el nuevo carrusel de novedades */
.new-arrivals-carousel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para cada producto en el nuevo carrusel de novedades */
.new-arrivals-carousel .producto {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Just Another Hand";
}

/* Estilos para las imágenes de los productos en el nuevo carrusel de novedades */
.new-arrivals-carousel .producto img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el título de los productos en el nuevo carrusel de novedades */
.new-arrivals-carousel .producto h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

/* Estilos para el texto de los productos en el nuevo carrusel de novedades */
.new-arrivals-carousel .producto p {
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
}

/* Estilos para el título del carrusel de novedades */
.carousel-title {
  text-align: center;
  font-family: "Just Another Hand";
  font-size: 30px;
  margin: 0 auto; /* Agrega este estilo para centrar horizontalmente */
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px; /* Ajusta esto para dejar espacio para el footer */
}

.pagination button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Just Another Hand";
  transition: background-color 0.3s;
  margin: 0 10px; /* Agrega un margen entre los botones */
}

.pagination button:hover {
  background-color: #cc0000;
}

/* Estilos para el pie de página */
.footer {
  background-color: #e43636;
  color: white;
  text-align: left;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer a {
  color: white;
  margin-bottom: 10px;
  display: block;
  font-family: "Just Another Hand";
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Estilos para el contenedor del buscador en dispositivos móviles */
  .search-container {
    width: 90%;
  }

  /* Estilos para el campo de búsqueda en dispositivos móviles */
  .search-input {
    font-size: 28px;
  }

  /* Estilos para el botón de búsqueda en dispositivos móviles */
  .search-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .navbar ul {
    display: none;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    flex-direction: column;
    text-align: center;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar li {
    display: block;
  }
  .toggle-btn {
    display: block;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .toggle-btn.active {
    left: -100px; /* Ajusta este valor según sea necesario */
  }
  .toggle-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .toggle-btn.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .toggle-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .toggle-btn.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .new-arrivals-carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }

  .new-arrivals-carousel .producto {
    padding: 10px; /* Ajustado para mejor visualización en dispositivos móviles */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Just Another Hand";
  }

  .new-arrivals-carousel .producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }

  .new-arrivals-carousel .producto h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px; /* Ligeramente más pequeño para ajustarse al espacio disponible */
  }

  .new-arrivals-carousel .producto p {
    margin-bottom: 10px;
    color: #666;
    font-size: 13px; /* Ligeramente más pequeño para ajustarse al espacio disponible */
  }
  /* Estilos para el pie de página */
  .footer {
    background-color: #e43636;
    color: white;
    text-align: left;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    left: 0;
  }

  .footer a {
    color: white;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    margin-right: 20px;
  }
}
